arasz
{
	kijelző: inline-block; 
	margin: 8 képpont; 
	box-shadow: 1x 2xx 2xx szürke; 
}

test {
 	háttér szín: fehér;
	párnázat: 30 képpont;
	maximális szélesség: 350 képpont;
	margin: auto;
}

.newspaper {
	háttér szín: antikfehér;
	betűtípus-család: "Times New Roman", Times, serif;
	betűsúly: félkövér;
}

.magazine1 {
 	háttér szín: réce;
 	fehér szín;
 	betűtípus-család: Verdana;
	betűsúly: 900;
	szöveg-transzformáció: nagybetűs; 
}

.magazine2 {
	háttérkép: url ('pink-pattern.png');
  	szín: fukszia;
  	betűtípus-család: Verdana;
	betűsúly: 900;
}

.medium {
	betűméret: 20 képpont;
	párnázat: 8 képpont;
}

.nagy {
	betűméret: 30 képpont;
	párnázat: 10 képpont;
}

.nagyon nagy {
	betűméret: 40 képpont;
	párnázat: 15 képpont;
}

.forgasd balra {
	transzformáció: forgatás (-5 fok);
}

.forgasd jobbra {
	transzformáció: forgatás (5 fok);
}

.skewleft {
	transzformáció: skewX (10deg);
}

.skewright {
	transzformáció: skewX (-10 ° C);
}