arasz
{
	kijelző: inline-block; 
	margin: 8 képpont; 
	box-shadow: 1x 2xx 2xx szürke; 
}

test {
 	háttér szín: fehér;
	párnázat: 30 képpont;
	maximális szélesség: 450 képpont;
	margin: auto;
}

.newspaper {
	háttér szín: antikfehér;
	betűtípus-család: "Times New Roman";
	betűsúly: félkövér;
}

.magazine1 {
 	háttér szín: réce;
 	fehér szín;
 	betűtípus-család: Verdana;
	betűsúly: 900;
	szöveg-transzformáció: nagybetűs; 
}

.magazine2 {
	háttérkép: url ('pink-pattern.png');
  	szín: fukszia;
  	betűtípus-család: Verdana;
	betűsúly: 900;
}

.komikus {
 	háttér szín: sárga;
  	piros szín;
  	betűsúly: félkövér;
}

.manuscript {
	háttérkép: url ('rough-paper.png');
	szín: nyeregbarna;
	betűtípus-család: 'Italianno', kurzív;
	betűtípus: dőlt;
}

.kinyomtatni {
	háttérkép: url ('computer-print-paper.png');
	fekete szín;
	betűtípus-család: 'VT323', sans-serif;
	betűméret: nagyobb;
}

.medium {
	betűméret: 15 képpont;
	párnázat: 6 képpont;
}

.nagy {
	betűméret: 20 képpont;
	párnázat: 8 képpont;
}

.nagyon nagy {
	betűméret: 30 képpont;
	párnázat: 10 képpont;
}

.forgasd balra {
	transzformáció: forgatás (-5 fok);
}

.forgasd jobbra {
	transzformáció: forgatás (5 fok);
}

.skewleft {
	transzformáció: skewX (10deg);
}

.skewright {
	transzformáció: skewX (-10 ° C);
}
