امتداد
{
	display: inline-block; 
	margin: 8px; 
	مربع الظل: 1px 2px 2px رمادي ؛ 
}

body {
 	background-color: white;
	الحشوة: 30px؛
	أقصى عرض: 450 بكسل ؛
	الهامش: السيارات ؛
}

.جريدة {
	لون الخلفية: antiquewhite؛
	font-family: "Times New Roman" ؛
	وزن الخط: غامق ؛
}

.magazine1 {
 	لون الخلفية: البط البري.
 	اللون الابيض؛
 	font-family: Verdana؛
	وزن الخط: 900 ؛
	تحويل النص: أحرف كبيرة ؛ 
}

.magazine2 {
	صورة الخلفية: url ('pink-pattern.png') ؛
  	اللون: الفوشيه.
  	font-family: Verdana؛
	وزن الخط: 900 ؛
}

.رسوم متحركة {
 	لون الخلفية: أصفر.
  	لون احمر؛
  	وزن الخط: غامق ؛
}

مخطوطة
	صورة خلفية: url ('rough-paper.png') ؛
	اللون: سرج ؛
	الخط الأسرة: 'Italianno' ، مخطوطة.
	نمط الخط: مائل؛
}

.اطبع {
	background-image: url ('computer-printout-paper.png') ؛
	لون أسود؛
	font-family: 'VT323'، sans-serif؛
	حجم الخط: أكبر ؛
}

.متوسط {
	حجم الخط: 15 بكسل ؛
	الحشوة: 6px؛
}

.كبير {
	حجم الخط: 20 بكسل ؛
	padding: 8px;
}

.reallybig {
	حجم الخط: 30 بكسل ؛
	الحشوة: 10px؛
}

.استدر يسارا {
	تحويل: تدوير (-5deg) ؛
}

.الوقت
	تحويل: تدوير (5deg) ؛
}

.skewleft {
	تحويل: skewX (10deg) ؛
}

.حقوق
	تحويل: skewX (-10deg) ؛
}
